* {
    box-sizing: border-box;
}
.container {
    width: 940px;
    margin: 40px auto 200px ;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 20px;
}
div {
    background-color: #E1E1E1;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    color: #808080;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 15px;
}
.col-220 {
    grid-row: span 2;
    grid-column: span 2;
    width: 220px;
    height: 220px;
}
.col-700 {
    grid-row: span 2;
    grid-column: span 6;
    width: 700px;
    height: 220px;
}
.col-460 {
    grid-row: span 2;
    grid-column: span 4;
    width: 460px;
    height: 220px;
}
